<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
Рассылка почты
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Рассылка почты</h1>
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="post">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {% csrf_token %}
       {{ form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Отправить" />
   </form>
{% endblock content %}
